.fondo {
    background-color: grey;
}

header {
    width: 80%;
    margin: auto;
    background-color: lightblue;
    text-align: center;
    border-radius: 20px;
}

.destino {
    border-radius: 25px;
    top: 50px;
    left: 50px;
    position: absolute;
    margin-left: 200px;
    opacity: 0;
    transition: all 1s linear;
    transform: scale(0, 0);
}

.destino:target {
    opacity: 1;
    transform: scale(1, 1);
}

.cuadro_images {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40%;
}

.imagen {
    flex: 0 0 10%;
}

li {
    list-style: none;
}