.imagenlogo {
    width: 50px;
    height: 50px;
}

.idDivLogin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
}

.botonesLogin{
    padding: 5px 10px 5px 10px;
}
.login{
    background-color: lightcyan;
    grid-column: 4/-1;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    align-content: center;
    text-align: center;
    align-items: center;
}