.box {
    padding: 10px;
    color: aliceblue;
    /* text-align: center; */
}
.tarjetaTicket{
    padding: 20px;
    height: auto;
    border-radius: 5px;
}
.container {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    /* Centrar todas las cosas que hay en el container */
    align-content: left;
}

.categoriaEvento{
    margin-bottom: 10%;
}
.imagenEvento{
    height: 200px;
}