.container>.add,
.edit,
.delete,
.consultas {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: #ffeead;
}

html,
body {
      background-color: #ffeead;
      margin: 10px;
}

.container {
      display: grid;
      grid-template: 50px 400px 400px 400px 400px / repeat(4, 1fr);
      grid-gap: 3px;
}

.add {

      background-color: #ffadad;
}

.edit {
      background-color: #ffadad;
}

.delete {
      background-color: #ffadad;
}

.consultas {
      background-color: #ffadad;
}

.container>.divAdd {
      background-color: aquamarine;
      grid-column: 1/-1;
      /* display: none; */
}

.container>.divEdit {
      background-color: rgb(242, 255, 127);

      grid-column: 1/-1;
}

.container>.divDelete {
      background-color: rgb(236, 175, 255);
      grid-column: 1/-1;
}

.container>.divConsultas {
      background-color: rgb(197, 127, 255);
      grid-column: 1/-1;
}



.divAdd {
      display: grid;
      grid-template: 400px / 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
}
.divEdit {
      display: grid;
      grid-template: 400px / 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
}
.divDelete {
      display: grid;
      grid-template: 400px / 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
}
.divConsultas {
      display: grid;
      grid-template: 400px / 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
}
.divDelete>.inputs{
      grid-column: 3/4;
}

.textos {
      grid-column: 2/3;
}
.tabla{
     grid-column: 2/4;
}