<!DOCTYPE html>
<html ng-app="miAplicacion" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/cargardatos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="js/Cargardatos.js"></script>
</head>

<body ng-controller="mainController">
    <div class="container">
<div class="add" ng-click="mostrarMenu('showAdd')">Añadir</div>
<div ng-click="mostrarMenu('showEdit')" class="edit">Editar</div>
<div ng-click="mostrarMenu('showDelete')" class="delete">Borrar</div>
<div ng-click="mostrarMenu('showConsultas')" class="consultas">Consultas</div>
        <div  ng-show="showAdd" class="divAdd">
            <div class="textos">
                <p>Nombre</p>
                <p>Edad</p>
                <p>Clase</p>
            </div>
            <div class="inputs">
                <input type="text" ng-model="usuario" name="" id="">
                <br>
                <br>
                <input type="number" name="" ng-model="edad" id="">
                <br>
                <br>
                <select name="selectModulo" ng-model="curso" id="">
                    <option value="1">LMAR</option>
                    <option value="2">SIST</option>
                    <option value="3">DCLI</option>
                    <option value="4">IWEB</option>
                    <option value="5">DSER</option>
                    <option value="6">INGLES</option>
                </select>
                <button ng-click="insertarAlumno()">Añadir</button>
            </div>
        </div>
        <div ng-show="showEdit" class="divEdit">
            <div class="textos">
                <p>Nombre</p>
                <p>Edad</p>
                <p>Clase</p>
            </div>
            <div class="inputs">
                <input type="text" ng-model="usuario" name="" id="">
                <br>
                <br>
                <input type="number" name="" ng-model="edad" id="">
                <br>
                <br>
                <select name="selectModulo" ng-model="curso" id="">
                    <option value="1">LMAR</option>
                    <option value="2">SIST</option>
                    <option value="3">DCLI</option>
                    <option value="4">IWEB</option>
                    <option value="5">DSER</option>
                    <option value="6">INGLES</option>
                </select>
                <button ng-click="insertarAlumno()">Añadir</button>
            </div>
        </div>
        <div ng-show="showDelete" class="divDelete"></div>
        <div ng-show="showConsultas" class="divConsultas"></div>
    </div>
</body>

</html>