<html ng-app="main">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alumnos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div class="content">
        <div class="notificacion"></div>
        <h1>Gestion del centro</h1>
        <div class="caja">
            <div class="menu" ng-controller="menuController">
                <p class="titulo">Alumnos</p>
                <p ng-click="vistaAnadir=true" class="opcion" id="anadir">Añadir</p> {{vistaAnadir}}
                <p class="opcion" id="modificar">Modificar</p>
                <p class="opcion" id="borrar">Borrar</p>
                <p class="titulo">Consultas</p>
                <p class="opcion" id="listar">Lista alumnos</p>
            </div>
            <div class="contenido">
                <div ng-controller="insertUser">
                    <div ng-show="vistaAnadir" class="cont-anadir">
                        <label>
                            <p>Nombre</p>
                            <input required type="text" ng-model="nombre" id="addNombre">
                        </label>
                        <label>
                            <p>Edad</p>
                            <input required type="number" ng-model="edad" id="addEdad" />
                        </label>
                        <label>
                            <p>Curso</p>
                            <input required type="number" ng-model="curso" id="addCurso" />
                        </label>
                        <div class="botones">
                            <input type="button" id="anadirAlumno" ng-click="insertarUsuario()" value="Añadir">
                        </div>
                    </div>
                </div>
                <div class="cont-modificar">
                    <lable>
                        <p>Modificar alumno :</p>
                        <select id="sel-modificar">

                        </select>
                    </lable>
                    <input type="button" id="modificarAlumno" value="Modificar Alumno">
                </div>
                <div class="form-modificar">
                    <label>
                        <p>Nombre</p>
                        <input required type="text"/ id="modNombre">
                    </label>
                    <label>
                        <p>Edad</p>
                        <input required type="number" id="modEdad" />
                    </label>
                    <label>
                        <p>Curso</p>
                        <input required type="number" id="modCurso" />
                    </label>
                    <div class="botones">
                        <input type="button" id="aplicarCambios" value="Aplicar Cambios">
                    </div>
                </div>
                <div class="cont-borrar">
                    <lable>
                        <p>Elimnar alumno :</p>
                        <select id="sel-borrar">

                        </select>
                    </lable>
                    <input type="button" id="borrarAlumno" value="Borrar Alumno">
                </div>
                <div class="cont-listar">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Curso</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>